﻿@using TwilioChat.Web.Models
@model TwilioChat.Web.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}

@section Styles{
    <link href="~/css/home.css" rel="stylesheet" />
}
<div class="container-fluid body-content">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="well">
                <h1>Login</h1>
               
                <section id="loginForm">
                    <form action="/Home/Login" method="post">
                        <div class="form-group clearfix">
                            <select name="UserName" asp-items="@Model.Users"></select>
                        </div>
                        <div class="form-group clearfix">
                            <input type="submit" value="Next" class="btn btn-info btn-lg btn-block">
                        </div>
                        <div class="form-group clearfix">
                            <a class="float-right" href="/Home/Register">Create my account</a>
                        </div>
                    </form>
                </section>
            </div>
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
}

