﻿
@{
    ViewData["Title"] = "Register";
}

@section Styles{
    <link href="~/css/home.css" rel="stylesheet" />
}
<div class="container-fluid body-content">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <div class="well">
                <h1>Register</h1>
                <section id="loginForm">
                    <form action="/Home/Login" method="post">
                        <div class="form-group clearfix">
                            <input class="form-control" id="UserName" name="UserName" type="text" value="" placeholder="User Name" required>
                        </div>
                        <div class="form-group clearfix">
                            <input type="submit" value="Next" class="btn btn-info btn-lg btn-block">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts{
}
