﻿body{
    padding-top: 50px;
}

.config-value.set {
    color:seagreen;
}

.config-value.unset {
    color:darkred;
}

h1 {
    text-align:center;
    padding-bottom: 20px;
}

select {
    width: 100%;
    height: 30px;
}